include *.txt
include *.md
include *.pkl
recursive-include ./classification_model/*

include classification_model/datasets/titanic_train_data.csv
include classification_model/datasets/titanic_test_data.csv
include classification_model/trained_models/*.pkl
include classification_model/version.txt
include classification_model/config.yml

include ./requirements/requirements.txt
exclude *.log
exclude *.cfg

recursive-exclude * __pycache__
recursive-exclude * *.py[co]